@model EmployeeVM

@{
    ViewBag.Title = "Пользователь";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAppliedPromocodesCount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Пользователь</h2>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control"/>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppliedPromocodesCount" class="control-label"></label>
                <input asp-for="AppliedPromocodesCount" class="form-control"/>
                <span asp-validation-for="AppliedPromocodesCount" class="text-danger"></span>
            </div>
            <h2>Роль пользователя</h2>
            <div class="form-group">
                <label asp-for="Role.Id" class="control-label"></label>
                <input asp-for="Role.Id" class="form-control"/>
                <span asp-validation-for="Role.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role.Description" class="control-label"></label>
                <input asp-for="Role.Description" class="form-control"/>
                <span asp-validation-for="Role.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role.Name" class="control-label"></label>
                <input asp-for="Role.Name" class="form-control"/>
                <span asp-validation-for="Role.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="UpdateAppliedPromocodesCount" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>