﻿@model IEnumerable<Otus.Teaching.Pcf.Administration.MVC.Models.EmployeeShortVM>

@{
    ViewBag.Title = "Пользователи";
    Layout = "_Layout";
}
<h2>Пользователи</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
            </td>
        </tr>
    }
    </tbody>
</table>